<!DOCTYPE html>
<html>

<head>
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>
    <title>
        Client - Sideblog
    </title>
</head>
<body>



{{{body}}} <!-- Content from specific templates will be inserted here -->
</html>