<!DOCTYPE html>


<html>
<head>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
    <footer class="footer">
        <p>
            Author: Oliver<br>
            <a href="mailto:Oliver@edusde.com">Oliver@edusde.com</a>
        </p>
    </footer>
</body>

</html>